:root {
    --fontColor: #1FC742;
    --Border: #025B18;
    --easyReadFont: 'Helvetica', 'Arial', sans-serif;
    --defaultFont:'VT323', monospace;
    --font-size: medium;
    --checkboxSize: 13px;
}

* {
    font-family: var(--defaultFont);
    background-color: black;
    color: var(--fontColor);
    border-color: var(--Border);
}

button, input[type="text"], textarea {
    appearance: none;
    border-radius: 3px;
    border: 2px solid var(--Border);
    outline: none;
    font-size: var(--font-size);
}

input[type="checkbox"] {
    appearance: none;
    width: var(--checkboxSize);
    height: var(--checkboxSize);
    border: 2px solid var(--Border);
    border-radius: 2px;
    background-color: black;
}

#fontCheck:checked {
    color: #1FC742;
}

textarea {
    resize: none;
    background-color: #ebebeb;
    color: black;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.cpuDisplay {
    gap: 20px;
    margin-left: 30px;
}

.cpuTable {
    border: 3px solid var(--Border);
}

.cpuTable td{
    border: 2px solid var(--Border);
    font-size: medium;
}

.cpuTable tr{
    height: 26px;
}

.cpuTable p{
    margin: 0;
    padding: 0;
}

.Buttons {
    margin-top: 6px;
    gap: 4px;
}

/* Name-column */
tr th:nth-child(1) {
    width: 100px;
}

/* Time-column */
tr th:nth-child(2) {
    width: 64px;
}

/* Prio-column */
tr th:nth-child(3) {
    width: 30px;
}

.hidden {
    display: none;
}

#startStopBtn {
    background-color: red;
}
